<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/metaHead'); %>
</head>
<body>
  <%- include('./partials/header'); %>
  <table class="ui celled compact table">
    <thead>
      <th>Date</th>
      <th>Budget</th>
      <th>Expense</th>
      <th>Budget Per Categories</th>
      <th>Expenses Per Categories</th>
      <th>Action</th>
    </thead>
    <tbody>
        <% for(let budget of budgets) {%>
          <tr>
            <td><%= budget.nameMonth(budget.month)+' '+budget.year %></td>
            <td>Rp <%= budget.amount%></td>
            <td><%= budget.expense %></td>
            <td><ol>
              <% for(let category of budget.Categories) {%>
                <li><%= category.name %>:<%= category.BudgetCategory.amount %></li>
              <% } %>
            </ol></td>
            <td><ol>
                <% for(let category of budget.Categories) {%>
                  <% let total = 0 %>
                  <% for(let transaction of category.Transactions) {%>
                      <% total = total + transaction.price %>
                  <% } %>
                  <li><%= category.name %> : <%= total %></li>
                <% } %>
              </ol></td>
            <td>
              <a class "ui button mini" href="/budget/<%= budget.id %>/edit">Edit</a> |<br>
              <a href="/budget/<%= budget.id%>/delete">Delete</a> | <br>
              <a href="/budget/<%= budget.id%>/assignCatBudget">Assign Cat Budget</a>
            </td>
          </tr>  
        <% } %>
    </tbody>
  </table>
  <h3><a class="ui primary button" href="/budget/add">Add budget</a></h3>
</body>
</html>
