<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/metaHead'); %>
</head>
<body>
  <%- include('./partials/header'); %>
  <p>Total budget used in categories: <%= total %></p>
  <p>Your Budget: <%= budget.amount %></p>
  <p>Remaining unassigned Budget: <%= budget.amount - total %></p>
  <hr>
  <form action="" method="post" class="ui form">
    <label>Choose Unassigned Transaction category:</label>
    <select name="categoryId" class="ui dropdown">
    <% for(let category of categories) {%>
        <option value= "<%= category.id %>" ><%=category.name%></option> 
    <%} %>
    </select>
    <label>Amount :</label>
    <input type="text" name="amount" value="<%= budgetCategory.amount || '' %>" placeholder="Amount max <%= budget.amount - total %>">
    <input class="ui primary button" type="submit" value="Save">
  </form>
</body>
</html>
