<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/metaHead'); %>
</head>
<body>
  <%- include('./partials/header'); %>
  
  <h3><a class="ui primary button" href="/budget/add">Add budget</a></h3>
  <% for(let budget of budgets ) { %>
    
    <h4><%= budget.nameMonth(budget.month)+' '+budget.year %> - Total Budget : <%= budget.amount%></h4>
    <% let totalAssigned = 0 %>
    <table class="ui blue celled compact table">
      <thead>
        <tr>
          <th width="50%">Transaction Category</th>
          <th>Allocated Budget</th>
        </tr>
      </thead>
      <tbody>
          <% if(budget.Categories.length == 0){ %>
            <tr><td><p>No category added</p></td></tr>
          <% } %>  
        <% for(let category of budget.Categories) {%>
          <tr>
          <% totalAssigned += Number(category.BudgetCategory.amount)  %>
          <td><%= category.name %></td>
          <td><%= category.BudgetCategory.amount %></td>
        </tr>
        <% } %>
      </tbody>
      <tfoot >
        <tr>
          <th><strong>Total allocated budget</strong></th>
          <th><strong><%= totalAssigned %></strong></th>
        </tr>
        <tr>
          <th >
              <a class="ui button mini" href="/budget/<%= budget.id %>/edit">Edit</a>
              <a class="ui button mini" href="/budget/<%= budget.id%>/delete">Delete</a>
              <a class="ui button mini positive" href="/budget/<%= budget.id%>/assignCatBudget">Assign Budget Category</a>
            
          </th>
          <th></th>
        </tr>
      </tfoot>
    </table><br>
  <% } %>
  <br><br><br>
  
</body>
</html>
