<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/metaHead'); %>
</head>
<body>
  <%- include('./partials/header'); %>
  <form action="" method="post" class="ui form">
    <label>Category Name:</label>
    <select name="categoryId" class="ui dropdown">
    <% for(let [index,category] of categories.entries()) {%>
        <option value= "<%= category.id %>" ><%=category.name%></option> 
    <%} %>
    </select>
    <label>Transaction Name:</label>
    <input type="text" name="name" value="<%= transaction.name || '' %>" placeholder="Name">
    <label>Price:</label>
    <input type="text" name="price" value="<%= transaction.price || '' %>" placeholder="Price">
    <label>Wishes:</label>
    <select name="wishId" class="ui dropdown">
        <option value= "0" >UnWishes</option> 
    <% for(let [index,wish] of wishes.entries()) {%>
        <option value= "<%= wish.id %>" ><%=wish.name%></option> 
    <%} %>
    </select>
    <input class="ui primary button" type="submit" value="Save">
  </form>
</body>
</html>
