<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/metaHead'); %>
</head>
<body>
  <%- include('./partials/header'); %>
  <table class="ui celled compact table">
    <thead>
      <th>Name</th>
      <th>Fullfilled</th>
      <th>Action</th>
    </thead>
    <tbody>
        <% for(let wish of wishes) {%>
          <tr>
            <td><%= wish.name %></td>
            <td><%= wish.fullfilled?'Yes':'No';%></td>
            <td>
              <a class "ui button mini" href="/wish/<%= wish.id %>/edit">Edit</a>
              <a href="/wish/<%= wish.id%>/delete">Delete</a>
            </td>
          </tr>  
        <% } %>
    </tbody>
  </table>
  <h3><a class="ui primary button" href="/wish/add">Add Wish</a></h3>
</body>
</html>
